{% extends "auth_base.html" %}
{% block title%}Burza Kněžice - Prodejní pult{% endblock %}
{% block content %}
<div class="content">
  {% if tab=='1' %}
    <input class="hide" type="radio" name="slider" checked id="reg">
    <input class="hide" type="radio" name="slider" id="sell">
    <input class="hide" type="radio" name="slider" id="rights">
  {% elif tab=='2' %}
    <input class="hide" type="radio" name="slider" id="reg">
    <input class="hide" type="radio" name="slider" checked id="sell">
    <input class="hide" type="radio" name="slider" id="rights">
  {% elif tab=='4' %}
    <input class="hide" type="radio" name="slider" id="reg">
    <input class="hide" type="radio" name="slider" id="sell">
    <input class="hide" type="radio" name="slider" checked id="rights">
  {% endif %}

  <div class="list">
    <label for="reg" class="reg">
      <span class="icon"><i class="bi bi-person-plus-fill"></i></span>
      <span class="title"> Registrace</span>
    </label>

    <label for="sell" class="sell">
      <span class="icon"><i class="bi bi-cart4"></i></span>
      <span class="title"> Prodej</span>
    </label>

    <label for="rights" class="rights">
      <span class="icon"><i class="bi bi-trophy-fill"></i></span>
      <span class="title"> Práva a přístupy</span>
    </label>

    <div class="slider"></div>
  </div>

  <div class="text-content">
    <div class="reg text">
      <div class="header-table">
        <h2>Registrace prodejců</h2>
      </div>
      <form method = "POST" class="form-table" action="{{ url_for('views.admin') }}">
        <div class="box">
          <input type="checkbox" id="check">
          <div class="search-box">
            <input name="search" id="search" type="text" placeholder="Zadej ID prodávajícího..." onkeyup="filter(2, 'search', 'table')">
            <label for="check" class="icon">
              <i class="bi bi-search"></i>
            </label>
          </div>
        </div>
        <div class="container-table">
          <table id='table'>
            <tr id="head">
              <th>
                <input name="select_all" type="checkbox" onchange="selectAll('table', 'input[name=select_all]')">
              </th>
              <th>Přineseno</th>
              <th>Prodejce</th>
              <th>Prodáno</th>
              <th>Název</th>
              <th>Barva</th>
              <th>Velikost</th>
              <th>Popis</th>
              <th>Cena</th>
              <th></th>
            </tr>
            {% for post in posts %}
              <tr onclick="markOnClick(this)" class="table-row" id="{{ post.id }}">    
                <td>
                  <input class="hidden-checkbox" 
                    type="checkbox" 
                    value="{{ post.id }}" 
                    id="flexCheckDefault" 
                    hidden
                    name='checkID'>
                  <label class="form-check-label" 
                    for="flexCheckDefault">
                    {{ post.id }}
                  </label>
                </td>
                <td>
                  {% if post.bring %}
                  <i class="bi bi-check-circle-fill"></i></span>
                  {% else %}
                  <i class="bi bi-x-circle-fill"></i>
                  {% endif %}
                </td>
                <td>{{ post.author }}</td>
                <td>
                  {% if post.status %}
                  <i class="bi bi-check-circle-fill"></i>
                  {% else %}
                  <i class="bi bi-x-circle-fill"></i>
                  {% endif %}
                </td>
                <td>{{ post.name }}</td>
                <td>{{ post.color }}</td>
                <td>{{ post.size }}</td>
                <td>{{ post.label }}</td>
                <td>{{ post.price }}Kč</td>
                <td>
                  <a href="/create_product/{{post.id}}" id="table-button-update">
                    <i class="bi bi-pencil"></i>
                  </a>
                </td>
              </tr>
            {% endfor %} 
          </table>
        </div>
        <div class="pdf-button">
          <button
            value='bring' 
            name='action' 
            id="bring_stuff"
            type="submit">
            <i class="bi bi-box"></i> Přinesené věci
          </button>
          <button
            value='seller' 
            name='action' 
            id="Print_list"
            type="submit">
            <i class="bi bi-printer-fill"></i> Vytisknout fakturu prodejci
          </button>
        </div>
      </form>
    </div>

    <div class="sell text">
      <div class="header-table">
        <h2>Prodej předmětů</h2>
      </div>
      <form method = "POST" class="form-table" action="{{ url_for('views.admin') }}">
        <div class="box">
          <input type="checkbox" id="chick">
          <div class="search-box">
            <input id="search-sell" type="text" placeholder="Zadej ID produktu..." onkeyup="filter(0, 'search-sell', 'table-sell')">
            <label for="chick" class="icon">
              <i class="bi bi-search"></i>
            </label>
          </div>
        </div>
        <div class="container-table">
          <table id='table-sell'>
            <tr id="head">
              <th>
                <input name="select_all" type="checkbox" onchange="selectAll('table-sell', 'input[name=select_all]')">
              </th>
              <th>Prodáno</th>
              <th>Název</th>
              <th>Barva</th>
              <th>Velikost</th>
              <th>Popis</th>
              <th>Cena</th>
              <th></th>
            </tr>
            {% for post in posts %}
              <tr onclick="markOnClick(this)" class="table-row" id="{{ post.id }}">    
                <td>
                  <input class="hidden-checkbox" 
                    type="checkbox" 
                    value="{{ post.id }}" 
                    id="flexCheckDefault" 
                    hidden
                    name='checkID'>
                  <label class="form-check-label" 
                    for="flexCheckDefault">
                    {{ post.id }}
                  </label>
                </td>
                <td>
                  {% if post.status %}
                  <i class="bi bi-check-circle-fill"></i>
                  {% else %}
                  <i class="bi bi-x-circle-fill"></i>
                  {% endif %}
                </td>
                <td>{{ post.name }}</td>
                <td>{{ post.color }}</td>
                <td>{{ post.size }}</td>
                <td>{{ post.label }}</td>
                <td>{{ post.price }}Kč</td>
                <td>
                  <a href="/create_product/{{post.id}}" id="table-button-update">
                    <i class="bi bi-pencil"></i>
                  </a>
                </td>
              </tr>
            {% endfor %} 
          </table>
        </div>
        <div class="pdf-button">
          <button
            value='buyer' 
            name='action' 
            id="Print_list"
            type="submit">
            <i class="bi bi-printer-fill"></i> Vytisknout fakturu kupujicimu
          </button>
        </div>
      </form>
    </div>

    <div class="rights text">
      <div class="header-table">
        <h2>Práva a přístupy</h2>
      </div>
      <form method = "POST" class="form-table" action="{{ url_for('views.admin') }}">
        <div class="box">
          <input type="checkbox" id="chicck">
          <div class="search-box">
            <input id="search-rights" type="text" placeholder="Zadej email uživatele..." onkeyup="filter(0, 'search-rights', 'table-rights')">
            <label for="chicck" class="icon">
              <i class="bi bi-search"></i>
            </label>
          </div>
        </div>
        <div class='control-buttons'>
          <a href="/delete_sell" id="delete-button">
            <i class="bi bi-x-circle-fill"></i> Smazat prodané položky
          </a> 
          <a href="/unmarked_bring" id="delete-button">
            <i class="bi bi-x-circle-fill"></i> Odznačit přinesené
          </a> 
        </div>
        <div class="container-table">
          <table id='table-rights'>
            <tr id="head">
              <th scope="col">Prodejce</th>
              <th scope="col">Status</th>
              <th scope="col"></th>
            </tr>
            {% for userp in users %}
              <tr>    
                <td>{{ userp.email }}</td>
                <td>
                  {% if userp.status == "user" %}
                    <i class="bi bi-person-fill"></i> {{ userp.status }}
                  {% elif userp.status == "seller" %}
                    <i class="bi bi-cart4"></i> {{ userp.status }}
                  {% elif userp.status == "admin" %}
                    <i class="bi bi-trophy-fill"></i> {{ userp.status }}
                  {% endif %}
                  </td>
                {% if userp.email != "monikachadimova15@gmail.com" %}
                  {% if userp.status == "user" %}
                    <td>
                      <a href="/make_seller/{{userp.id}}" id="table-button-update">
                        <i class="bi bi-cart4"></i> Prodávající
                      </a>
                    </td>
                  {% elif userp.status == "seller" %}
                    <td>
                      <a href="/make_admin/{{userp.id}}" id="table-button-update">
                        <i class="bi bi-trophy-fill"></i> Admin
                      </a>
                      <a href="/make_user/{{userp.id}}" id="table-button-del">
                        <i class="bi bi-person-fill"></i> User
                      </a>
                    </td>
                  {% elif userp.status == "admin" %}
                    <td>
                      <a href="/make_seller/{{userp.id}}" id="table-button-del">
                        <i class="bi bi-cart4"></i> Prodávající
                      </a>
                    </td>
                  {% endif %}
                {% else %}
                  <td></td>
                {% endif %}
              </tr>
            {% endfor%}
          </table>
        </div>
      </form>
    </div>

  </div>
  <div class="statistic-content"></div>
</div>
<!--
<div class="tab">
    <button class="tablinks" 
      {% if tab == "1" %}
        id="defaultOpen" 
        {% endif %}
      onclick="openCity(event, 'sell')">Prodej produktů
    </button>
    <button class="tablinks" 
      {% if tab == "2" %}
        id="defaultOpen" 
      {% endif %}
      onclick="openCity(event, 'reg')">Registrace prodejců
    </button>
    {% if user.status == "admin" %}
      <button class="tablinks"
        {% if tab == "3" %}
          id="defaultOpen"  
        {% endif %}
        onclick="openCity(event, 'inf')">Informace o burze
      </button>
    {% endif %}
  </div>

<script>
  document.getElementById("defaultOpen").click();
  function openCity(evt, cityName) {
  // Declare all variables
  var i, tabcontent, tablinks;

  // Get all elements with class="tabcontent" and hide them
  tabcontent = document.getElementsByClassName("text-content");
  for (i = 0; i < tabcontent.length; i++) {
    tabcontent[i].style.display = "none";
  }

  // Get all elements with class="tablinks" and remove the class "active"
  tablinks = document.getElementsByClassName("tablinks");
  for (i = 0; i < tablinks.length; i++) {
    tablinks[i].className = tablinks[i].className.replace(" active", "");
  }

  // Show the current tab, and add an "active" class to the link that opened the tab
  document.getElementById(cityName).style.display = "block";
  evt.currentTarget.className += " active";
} 
 
  var dataTable = document.getElementById('myTable');
  var checkItAll = dataTable.querySelector('input[name="select_all"]');
  var inputs = dataTable.querySelectorAll('tbody>tr>td>div>input');
  checkItAll.addEventListener('change', function() {
    if (checkItAll.checked) {
      inputs.forEach(function(input) {
          input.checked = true;
      });  
    } else {
      inputs.forEach(function(input) {
          input.checked = false;
      });  
    }
  });
</script> -->
{% endblock %}
{% block rightcontent %}{% endblock %}