<!doctype html>
<html lang="cz">
  <head>
    <meta charset="utf-16">
    <meta name="viewport" 
      content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">

    <link rel = "stylesheet" 
      href = "{{ url_for('static', filename='CSS/style.css') }}">
    <link rel="stylesheet" 
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>{% block title %}{% endblock %}</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="nav navbar-brand" href="/"> Burza Kněžice
          </a>
        </div>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="nav navbar-nav">
            <li class="nav-item">
              <a class="nav-link" 
                href="/home">
                <button class = "btn btn-outline-light" type='button'>
                  <span class="glyphicon glyphicon-list-alt"></span> Nástěnka
                </button>
              </a>
            </li>
            {% if user.is_authenticated %}
              <li class="nav-item">
                <a class="nav-link" 
                  href="/product/{{user.username}}">
                  <button class = "btn btn-outline-light" type='button'>
                    <span class="glyphicon glyphicon-tags"></span> Tvé produkty
                  </button>
                </a>
              </li>
              {% if user.status != 'user' %}
                <li class="nav-item">
                  <a class="nav-link" 
                    href="/admin">
                    <button class = "btn btn-outline-light" type='button'>
                      <span class="glyphicon glyphicon-king"></span> Admin přístup
                    </button>
                  </a>
                </li>
              {% endif %}
            {% endif %}
          </ul>
          <ul class="nav navbar-nav navbar-right">
            {% if user.is_authenticated %}
              <li class="nav-item">
                <a class="nav-item nav-link" 
                  href="/profile/{{user.username}}">
                  <button class = "btn btn-outline-light" type='button'>
                    <span class="glyphicon glyphicon-user"></span> {{user.username}}
                  </button>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-item nav-link" 
                  href="/logout">
                  <button class = "btn btn-outline-light" type='button'>
                    <span class="glyphicon glyphicon-off"></span> Odhlásit
                  </button>
                </a>
              </li>
            {% else %}
              <li class="nav-item">
                  <a class="nav-link" 
                    href="/login">
                    <button class = "btn btn-outline-light" type='button'>
                      <span class="glyphicon glyphicon-log-in"></span> Přihlásit
                    </button>
                  </a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" 
                    href="/signup">
                    <button class = "btn btn-outline-light" type='button'>
                      <span class="glyphicon glyphicon-user"></span> Registrovat
                    </button>
                  </a>
              </li>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>
    {% with messages = get_flashed_messages(with_categories=True) %}
      {% if messages %}
        {% for category, message in messages %}
          {% if category == "error" %}
            <div class="alert alert-danger alter-dismissible fade show" 
              role="alert">
              {{ message }}
              <button class="btn-close" 
                type="button" 
                data-bs-dismiss="alert">
              </button>
            </div>
          {% else %}
            <div class="alert alert-success alter-dismissible fade show" 
              role="alert">
              {{ message }}
              
              <button class="btn-close" 
                type="button" 
                data-bs-dismiss="alert">
              </button>
            </div>
          {% endif %}
        {% endfor %}
      {% endif %}
    {% endwith %}
    <div> 
      {% block content %}{% endblock %}
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" 
      integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" 
      crossorigin="anonymous">
    </script>
  </body>
  <style>
    body {
      background-color: #F79C35;
      color: white
    }
  </style>
</html>
