{% extends "base.html" %}
{% block title%}Nástěnka{% endblock %}
{% block content %}
<div class = "log_reg">
  {% if not post %}
    <h3>Přidat nové zboží do seznamu</h3>
  {% else %}
    <h3>Upravit zboží ze seznamu</h3>
  {% endif %}
  <br />
  <form method="POST">
    <div class="form-group">
      <div class="input-group">
        <span class="input-group-addon"><label>Název</label></span>
        <input class="form-control" 
          type="text" 
          id="name"
          name="name"
          {% if not post %}
            placeholder="Název předmětu"
          {% else %}
            placeholder="{{post.name}}"
          {% endif %}>
      </div>
      <br />
      <div class="input-group">
        <span class="input-group-addon"><label>Barva</label></span>
        <input class="form-control" 
          type="text" 
          id="color"
          name="color"
          {% if not post %}
            placeholder="Barva předmětu"
          {% else %}
            placeholder="{{post.color}}"
          {% endif %}>
      </div>
      <br />
      <div class="input-group">
        <span class="input-group-addon"><label>Velikost</label></span>
        <input class="form-control" 
          type="text" 
          id="size"
          name="size"
          {% if not post %}
            placeholder="Vložte velikost"
          {% else %}
            placeholder="{{post.size}}"
          {% endif %}>
      </div>
      <br />
      <div class="input-group">
        <span class="input-group-addon"><label>Popis</label></span>
        <textarea class="form-control"
          name="label" 
          id="label" 
          {% if not post %}
            placeholder="Napište popisek"
          {% else %}
            placeholder="{{post.label}}"
          {% endif %}
        ></textarea>
      </div>
      <br />
      <div class="input-group">
        <span class="input-group-addon"><label>Cena</label></span>
        <input class="form-control" 
          type="text" 
          id="price"
          name="price"
          {% if not post %}
            placeholder="Zadejte cenu"
          {% else %}
            placeholder="{{post.price}}"
          {% endif %}>
      </div>
      {% if not not post %}
        {% if user.status == 'admin' %}
          <br />
          <div>
            <a href="/sold/{{post.id}}">
              <button class="btn btn-default"
                id = "sellbutton" 
                type="button">
                Prodáno
              </button>
            </a>
          </div>
        {% endif %}
      {% endif %}
      <div>
        <button class="btn btn-default"
        id = "button1" 
        type="submit">
        {% if not post %}
          Přidat zboží
        {% else %}
          Upravit zboží
        {% endif %}
      </button>
      </div>
    </div>
  </form>
</div>
{% endblock %}
