{% extends "auth_base.html" %}
{% block title%}Burza Kněžice - Produkt{% endblock %}
{% block content %}
<div class="container-cr">
	<div class="header">
		{% if not post %}
      <h2>Přidat nové zboží do seznamu</h2>
    {% else %}
      <h2>Upravit zboží ze seznamu</h2>
    {% endif %}
	</div>
	<form id="form_create" class="form" method="POST">
		<div class="form-control">
			<input type="label" 
        id="label" 
        name="label" 
        {% if post %}
          value ="{{post.name}}"
        {% endif %}
        onchange="checkInputsName('label')"
        autocomplete='off'
        required>
      <label for="label"
        class="label-name">
        <span class="content-name">Název předmětu</span>
      </label>
			<i class="bi bi-check-circle-fill"></i>
			<i class="bi bi-x-circle-fill"></i>
			<small>Error message</small>
		</div>
    <div class="form-control">
			<input type="text" 
        id="color" 
        name="color"
        {% if post %}
          value ="{{post.color}}"
        {% endif %} 
        onchange="checkInputsName('color')"
        autocomplete='off'
        required>
      <label for="color"
        class="label-name">
        <span class="content-name">Barva předmětu</span>
      </label>
			<i class="bi bi-check-circle-fill"></i>
			<i class="bi bi-x-circle-fill"></i>
			<small>Error message</small>
		</div>
    <div class="form-control">
			<input type="size" 
        id="size" 
        name="size" 
        {% if post %}
          value ="{{post.size}}"
        {% endif %}
        onchange="checkInputsName('size')"
        autocomplete='off'
        required>
      <label for="size"
        class="label-name">
        <span class="content-name">Velikost předmětu</span>
      </label>
			<i class="bi bi-check-circle-fill"></i>
			<i class="bi bi-x-circle-fill"></i>
			<small>Error message</small>
		</div>
    <div class="form-control">
			<input type="popis" 
        id="popis" 
        name="popis" 
        {% if post %}
          value ="{{post.label}}"
        {% endif %}
        onchange="checkInputsName('popis')"
        autocomplete='off'
        required>
      <label for="popis"
        class="label-name">
        <span class="content-name">Popis</span>
      </label>
			<i class="bi bi-check-circle-fill"></i>
			<i class="bi bi-x-circle-fill"></i>
			<small>Error message</small>
		</div>
    <div class="form-control">
			<input type="price" 
        id="price" 
        name="price" 
        {% if post %}
          value ="{{post.price}}"
        {% endif %}
        onchange="checkInputsPrice()"
        autocomplete='off'
        required>
      <label for="price"
        class="label-name">
        <span class="content-name">Cena produktu</span>
      </label>
			<i class="bi bi-check-circle-fill"></i>
			<i class="bi bi-x-circle-fill"></i>
			<small>Error message</small>
		</div>
    {% if post %}
        {% if user.status == 'admin' %}
          <div id="button-center">
            <a href="/sold/{{post.id}}" id="button-sell">
              <span>Prodáno</span>
            </a>
            <a href="/bring/{{post.id}}" id="button-bring">
              <span>Přineseno</span>
            </a>
          </div>
        {% endif %}
      {% endif %}
		<button type="submit" 
      id="btn_create_submit">
      <i class="bi bi-save"></i> Uložit
    </button>
	</form>
</div>
{% endblock %}