{% extends "base.html" %}
{% block title%}Nástěnka{% endblock %}
{% block content %}

<div class = "log_reg">
  <h3>Přihlášení</h3>
  <br/>
  <form method="POST">
    <div class="form-group">
      <div class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
        <input class="form-control" 
          type="text" 
          id="email"
          name="email"
          placeholder="Vložte email">
      </div>
      <br/>
      <div class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
        <input class="form-control" 
          type="password"
          id="password"
          name="password"
          placeholder="Zadejte heslo">
      </div>
      <br/>
      <a id = "forget_pass" class="text-muted"><small>Zapomenuté heslo</small></a>
      <div>
        <button id = "button1" class="btn btn-default" type="submit">Přihlásit</button>
      </div>
    </div>
  </form>
</div>
{% endblock %}