{% extends "base.html" %}
{% block title%}Nástěnka{% endblock %}
{% block content %}
<form method = "POST">
    <table class="table table-hover table-light">
        <thead>
            <tr>
                <!-- Your Columns HERE -->
                <th scope="col">Název</th>
                <th scope="col">Barva</th>
                <th scope="col">Velikost</th>
                <th scope="col">Popis</th>
                <th scope="col">Cena</th>
            </tr>
        </thead>
        <tbody>
            <!-- Your rows inside the table HERE: -->
            {% for post in posts %}
                <tr>
                <td>{{ post.name }}</td>
                <td>{{ post.color }}</td>
                <td>{{ post.size }}</td>
                <td>{{ post.label }}</td>
                <td>{{ post.price }}Kč</td>
                </tr>
            {% endfor %} 
        </tbody>
    </table>
</form>
{% endblock %}