{% extends "base.html" %}
{% block title%}Burza Kněžice - Nástěnka{% endblock %}
{% block leftcontent %}{% endblock %}
{% block content %}
<div id = "container-info">
    <div class = "inline">
        <div id = "text_block">
            <h2>Burza dětského oblečení</h2>
            <h3>Název spolku</h3><br>
            <p class = "tabulator">Pořádá se: {{info.date}}<br>
            Místo konání: {{info.place}}<br>
            Adresa: {{info.adress}}<br>
            <a href = "">Pravidla</a>
            </p>
        </div> 
    </div>
    <div class = "inline">
        <div id = "googleMap"></div>
    </div>
</div>
<div class="container-table">
    <table id='table'>
        <tr id="head">
            <th>Název</th>
            <th>Barva</th>
            <th>Velikost</th>
            <th>Popis</th>
            <th>Cena</th>
        </tr>
        {% for post in posts %}
            <tr onclick="markOnClick(this)" class="table-row" id="{{ post.id }}">
                <td>{{ post.name }}</td>
                <td>{{ post.color }}</td>
                <td>{{ post.size }}</td>
                <td>{{ post.label }}</td>
                <td>{{ post.price }}Kč</td>
            </tr>
        {% endfor %} 
    </table>
</div>
{% endblock %}
{% block rightcontent %}{% endblock %}