{% extends "base.html" %}
{% block title%}Nástěnka{% endblock %}
{% block content %}
<form method="POST">
  <div class = "log_reg" id = "profil">
    <h3>Profil uživatele {{user.username}}</h3>
    <br/>
    <div class="form-group">
      <div class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
        <input class="form-control" 
          type="text" 
          id="email"
          name="email"
          {% if not user %}
            placeholder="Zadejte email"
          {% else %}
            placeholder="{{user.email}}"
          {% endif %}>
      </div>
      <br/>
      <div class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
        <input class="form-control" 
          type="text" 
          id="username"
          name="username"
          {% if not user %}
            placeholder="Zadejte uživatelské jméno"
          {% else %}
            placeholder="{{user.username}}"
          {% endif %}>
      </div>
      <br/>
      <div class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-earphone"></i></span>
        <input class="form-control" 
          type="text"
          id="tel_number"
          name="tel_number"
          {% if user.tel_number == "" %}
            placeholder="Zadejte telefoní číslo"
          {% else %}
            placeholder="{{user.tel_number}}"
          {% endif %}>
      </div>
      <br/>
    <h3>Adresa uživatele {{user.username}}</h3>
    <br/>
    <div class="input-group">
      <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
      <input class="form-control" 
        type="text" 
        id="town"
        name="town"
        {% if user.town == "" %}
          placeholder="Zadejte město"
        {% else %}
          placeholder="{{user.town}}"
        {% endif %}>
    </div>
    <br/>
    <div class="input-group">
      <span class="input-group-addon"><i class="glyphicon glyphicon-road"></i></span>
      <input class="form-control" 
        type="text" 
        id="street"
        name="street"
        {% if user.street == "" %}
          placeholder="Zadejte ulici"
        {% else %}
          placeholder="{{user.street}}"
        {% endif %}>
    </div>
    <br/>
    <div class="input-group">
      <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
      <input class="form-control" 
        type="text"
        id="psc"
        name="psc"
        {% if user.psc == "" %}
          placeholder="Zadejte PSC"
        {% else %}
          placeholder="{{user.psc}}"
        {% endif %}>
    </div>
    <br />
    <div>
      <button id = "button1" class="btn btn-primary" type="submit">Uložit</button>
    </div>
  </div>
</form>
{% endblock %}