{% extends "auth_base.html" %}
{% block title%}Burza Kněžice - Profil{% endblock %}
{% block content %}
<div class="container-prof">
	<div class="header">
    <h2>Upravit informace o profilu</h2>
	</div>
	<form id="form_profile" class="form" method="POST">
		<div class="form-control">
			<input type="email" 
        id="email" 
        name="email" 
        {% if user.email != "" %}
          value = "{{user.email}}"
        {% endif %}
        onchange="checkInputsEmail()"
        autocomplete='off'
        required>
      <label for="email"
        class="label-name">
        <span class="content-name">Email</span>
      </label>
			<i class="bi bi-check-circle-fill"></i>
			<i class="bi bi-x-circle-fill"></i>
			<small>Error message</small>
		</div>
    <div class="form-control">
			<input type="username" 
        id="username" 
        name="username" 
        {% if user.username != "" %}
          value = "{{user.username}}"
        {% endif %}
        onchange="checkInputsName('username')"
        autocomplete='off'
        required>
      <label for="username"
        class="label-name">
        <span class="content-name">Uživatelské jméno</span>
      </label>
			<i class="bi bi-check-circle-fill"></i>
			<i class="bi bi-x-circle-fill"></i>
			<small>Error message</small>
		</div>
    <div class="form-control">
			<input type="tel-number" 
        id="tel-number" 
        name="tel-number" 
        {% if user.tel_number != "" %}
          value = "{{user.tel_number}}"
        {% endif %}
        onchange="checkInputsName('tel-number')"
        autocomplete='off'
        required>
      <label for="tel-number"
        class="label-name">
        <span class="content-name">Telefoní číslo</span>
      </label>
			<i class="bi bi-check-circle-fill"></i>
			<i class="bi bi-x-circle-fill"></i>
			<small>Error message</small>
		</div>
		<div class="form-control">
			<input type="town" 
        id="town" 
        name="town" 
        {% if user.town != "" %}
          value = "{{user.town}}"
        {% endif %}
        onchange="checkInputsName('town')"
        autocomplete='off'
        required>
      <label for="town"
        class="label-name">
        <span class="content-name">Město bydliště</span>
      </label>
			<i class="bi bi-check-circle-fill"></i>
			<i class="bi bi-x-circle-fill"></i>
			<small>Error message</small>
		</div>
    <div class="form-control">
			<input type="street" 
        id="street" 
        name="street" 
        {% if user.street != "" %}
          value = "{{user.street}}"
        {% endif %}
        onchange="checkInputsName('street')"
        autocomplete='off'
        required>
      <label for="street"
        class="label-name">
        <span class="content-name">Ulice bydliště</span>
      </label>
			<i class="bi bi-check-circle-fill"></i>
			<i class="bi bi-x-circle-fill"></i>
			<small>Error message</small>
		</div>
    <div class="form-control">
			<input type="psc" 
        id="psc" 
        name="psc" 
        {% if user.psc != "" %}
          value = "{{user.psc}}"
        {% endif %}
        onchange="checkInputsName('psc')"
        autocomplete='off'
        required>
      <label for="psc"
        class="label-name">
        <span class="content-name">PSČ</span>
      </label>
			<i class="bi bi-check-circle-fill"></i>
			<i class="bi bi-x-circle-fill"></i>
			<small>Error message</small>
		</div>
		<button type="submit" 
      id="btn_prof_submit">
      <i class="bi bi-save"></i> Uložit
    </button>
	</form>
</div>
<div class='main-update'>
  <a href="/delete_user/{{user.id}}" id="delete-button">
      <i class="bi bi-x-circle-fill"></i> Smazat účet
    </a> 
</div>
{% endblock %}