{% extends "base.html" %}
{% block title%}Nástěnka{% endblock %}
{% block content %}

<div class = "log_reg">
  <h3>Registrace</h3>
  <br/>
  <form method="POST">
    <div class="form-group">
      <div class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
        <input class="form-control" 
          type="text" 
          id="email"
          name="email"
          placeholder="Vložte email">
      </div>
      <br/>
      <div class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
        <input class="form-control" 
          type="text" 
          id="username"
          name="username"
          placeholder="Zvol si uživatelské jméno">
      </div>
      <br/>
      <div class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
        <input class="form-control" 
          type="password"
          id="password1"
          name="password1"
          placeholder="Zadejte heslo">
      </div>
      <br/>
      <div class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
        <input class="form-control" 
          type="password"
          id="password2"
          name="password2"
          placeholder="Zopakuj heslo">
      </div>
      <br/>
      <div>
        <button id = "button1" class="btn btn-primary" type="submit">Registrovat</button>
      </div>
    </div>
  </form>
</div>
{% endblock %}
