.navbar-brand{
    margin-left: 1%;
}

.log_reg{
    margin: 5% auto 0;
    width: 20vw;
    height: auto;
    text-align: center;
}

.log_reg h3{
    margin: 3% 0 0;
}

.form_label{
    text-align: left;
    display: block;
    width: 90%;
    height: 1.3em;
    margin: 5% 5% 3%;
}

.input_bar{
    width: 90%;
    height: 2.2em;
    margin: 0 auto;
    text-align: left;
}

#button1{
    display: block;
    width: 80%;
    margin: 5% auto 0;
}

#forget_pass{
    margin-top: 3%;
    display: block;
    width: auto;
    height: auto;
}


#profil{
    width: 45vw;
    height: auto; 
}

.input_bar_x2{
    display: inline-block;
    width: 40%;
    height: 2.2em;
    margin: 0 4%;
    text-align: left;
}

.input_bar_left{
    display: inline-block;
    width: 40%;
    height: 2.2em;
    margin: 0 4%;
    margin: 0 52% 0 4%;
}

.form_label_x2{
    display: inline-block;
    text-align: left;
    width: 40%;
    height: 1.3em;
    margin: 3% 4% 3%;
}

.form_label_left{
    display: inline-block;
    text-align: left;
    width: 40%;
    height: 1.3em;
    margin: 3% 52% 3% 4%;
}


#menu_bar{
    width: 95%;
    height: 2,5em;
    margin: 5px auto;
}

#Add{
    background-color: rgb(51, 204, 51);
    border-color: rgb(0, 153, 0);
    color: white;
}

#Delete{
    background-color: rgb(255, 80, 80);
    border-color: rgb(255, 0, 0);
    color: white;
}

#Print_labels{
    margin-left: 62%;
    background-color: rgb(0, 102, 255);
    border-color: rgb(0, 51, 204);
    color: white;
}

#Print_list{
    background-color: rgb(0, 204, 255);
    border-color: rgb(0, 51, 204);
    color: white;
}
* {box-sizing: border-box}

/* Style the tab */
.tab {
  float: left;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  width: 10%;
  height: 100%;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  display: block;
  background-color: inherit;
  color: black;
  padding: 22px 16px;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current "tab button" class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  float: left;
  padding: 0px 12px;
  border: 1px solid #ccc;
  width: 90%;
  border-left: none;
  height: 100%;
}