@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,500&display=swap');
* {
	box-sizing: border-box;
}
body {
	background-color: #F79C35;
	font-family: 'Open Sans', sans-serif;
	display: flex;
    overflow-x: hidden;
	justify-content: center;
	min-height: 100vh;
	margin: 0;
}
.container-content {
    margin-top: 100px;
    padding: 25px;
}
.container-alone {
    margin-top: 100px;
    position: center;
    align-items: center;
	background-color: #fff;
	border-radius: 5px;
	box-shadow: 0 3px 4rem rgba(0, 0, 0, 0.3);
	overflow: hidden;
	width: 450px;
	max-width: 100%;
}

.header {
	border-bottom: 1px solid #f0f0f0;
	background-color: #f7f7f7;
	padding: 20px 40px;
}

.header h2 {
	margin: 0;
}

.form {
	padding: 30px 40px;	
    
}

.form-control {
    margin-bottom: 30px;
	padding-bottom: 20px;
    width: 100%;
    height: 60px;
	position: relative;
    overflow: hiden;
}

.form-control label {
	position: absolute;
    bottom: 20px;
    left: 0px;
    width: 100%;
    height: 100%;
    pointer-events: none;
    border-bottom: 3px solid #c27115;
}
.form-control label::after{
    content: '';
    position: absolute;
    left: 0px;
    bottom: -1px;
    height: 100%;
    width: 100%;
    transform: translateX(-100%);
    transition: transform 0.3s ease;
}

.form-control input {
	border: none;
    color: #595f6e;
	font-family: inherit;
	font-size: 14px;
	padding-top: 15px;
    padding-bottom: 10px;
	width: 100%;
    height: 100%;
    outline: none;
}
.content-name {
    position: absolute;
    bottom:5px;
    left: 0px;
    transition: all 0.3s ease;
}

.form-control input:focus + .label-name .content-name,
.form-control input:valid + .label-name .content-name {
	transform: translateY(-150%);
	font-size: 14px;
    color: #c27115;
}

.form-control input:focus + .label-name::after,
.form-control input:valid + .label-name::after {
	transform: translateX(0%);
}

.form-control.success label {
	border-color: #2ecc71;
}

.form-control.error label {
	border-color: #e74c3c;
}

.form-control i {
	visibility: hidden;
	position: absolute;
	top: 10px;
	right: 10px;
}

.form-control.success i.bi-check-circle-fill {
	color: #2ecc71;
	visibility: visible;
}

.form-control.error i.bi-x-circle-fill {
	color: #e74c3c;
	visibility: visible;
}

.form-control small {
	color: #e74c3c;
	position: absolute;
	bottom: 0;
	left: 0;
	visibility: hidden;
}

.form-control.error small {
	visibility: visible;
}

.form button {
	background-color: #c27115;
	border: 2px solid #c27115;
	border-radius: 4px;
	color: #fff;
	display: block;
	font-family: inherit;
	font-size: 16px;
	padding: 10px;
	margin-top: 20px;
	width: 100%;
}
.form button:hover {
	background-color: #F79C35;
	border: 2px solid #F79C35;
	border-radius: 4px;
	color: #fff;
	display: block;
	font-family: inherit;
	font-size: 16px;
	padding: 10px;
	margin-top: 20px;
	width: 100%;
}
.form button:disabled, button[disabled] {
	background-color: #c4a98b;
	border: 2px solid #c4a98b;
	border-radius: 4px;
	color: #fff;
	display: block;
	font-family: inherit;
	font-size: 16px;
	padding: 10px;
	margin-top: 20px;
	width: 100%;
}
.tacbox {
    width: 100%;
    position: relative;
    height: 30px;
    padding-bottom: 20px;
    margin-bottom: 30px;
}
.tacbox input {
    height: 20px;
    position: relative;
    width: 20px;
    border-radius: 4px;
    vertical-align: middle;
  }
.tacbox label {
    position: relative;
    font-family: inherit;
	font-size: 14px;
    top: 2px;
	left: 5px;
}

.tacbox a{
    text-decoration: none;
}

/*header a navbar*/

*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    transition: background-color .5s ease;
    z-index: 1000;
}

.container_navbar{
    width: 100%;
}

.nav{
    width: 100%;
    height: 100px;
    padding-left: 50px;
    padding-right: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #c27115;
    box-shadow: 0 3px 1rem rgba(0,0,0,.3);
    border-bottom: 2px solid rgba(255,255,255,.05);
    transition: height .5s ease;
}

.nav a{
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    vertical-align: center;
}

.nav .logo{
    font-size: 22px;
    font-weight: bold;
    vertical-align: center;
    transform: translateX(-100rem);
    animation: slideIn .5s forwards;
}

.nav-list{
    list-style: none;
    display: flex;
    align-items: center;
    vertical-align: center;
    transform: translateX(100rem);
    animation: slideIn .5s forwards;
}
.log-list{
    list-style: none;
    display: flex;
    align-items: right;
    vertical-align: center;
    transform: translateX(100rem);
    animation: slideIn .5s forwards;
}
.log-list .nav-link {
    position: absolute;
    margin-top: 16px;
    margin-inline-start: -8rem;
}

.nav-link{
    margin: 0 2rem;
    position: relative;
}

.nav-link::after{
    content: '';
    width: 100%;
    height: 2px;
    background-color: #fff;
    box-shadow: 0 3px 1rem rgba(0,0,0,.5);
    position: absolute;
    left: 0;
    bottom: -3px;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform .5s ease;
}

.nav-link:hover::after{
    transform: scaleX(1);
    box-shadow: 0 3px 1rem rgba(0,0,0,.5);
}

#nav-cta{
    display: inline-block;
    background-color: #fff;
    color: #313131;
    padding: 1rem 2rem;
    border-radius: 2rem;
    box-shadow: 0 3px 1rem rgba(0,0,0,.3);
    transition: background-color .5s ease;
}

#nav-cta:hover{
    background-color: #d3d3d3;
}


/*Apply styles after scroll*/
.scrolling-active{
    background-color: hsla(0, 0%, 100%, 0);
}

.scrolling-active .nav{
    background-color: #c2711586;
    height: 90px;
    width: 98%;
    border-radius: 45px;
    margin: 0 auto;
}

.scrolling-active .nav a{
    color: #313131;
}

.scrolling-active #nav-cta{
    background-color: #313131;
    color: #fff;
}

.scrolling-active #nav-cta:hover{
    background-color: #151515;
}

.scrolling-active .nav-link::after{
    background-color: #313131;
}

@keyframes slideIn {
    from{
    }
    to{
        transform: translateX(0);
    }
}

/*Hoverable table */

.container-product {
    background-color: #fff;
	border-radius: 1rem;
	box-shadow: 0 3px 4rem rgba(0, 0, 0, 0.3);
	overflow: hidden;
	width: 1150px;
	max-width: 100%;
}

.header-table {
	border-bottom: 1px solid #a5a5a5;
	background-color: #dddddd;
	padding: 20px 40px;
}

.header h2 {
	margin: 0;
}

.pdf-button {
    padding: 1rem 1.5rem;
}

#add-prod{
    display: inline-block;
    background-color: rgb(182, 46, 46);
    color: #ffffff;
    padding: .8rem 1.4rem;
    font-size: 14px;
    border-radius: 1.6rem;
    box-shadow: 0 3px 1rem rgba(0, 0, 0, 0.3);
    transition: background-color .5s ease;
}

#add-prod:hover{
    background-color: rgb(224, 73, 73);
    font-size: 16px;
}

.pdf-button a{
    text-decoration: none;
}

.pdf-button #Print_labels {
	background-color: #1566c2;
	border: 2px solid #1566c2;
	border-radius: 1.4rem;
	color: #fff;
	font-family: inherit;
    margin-left: 620px;
	font-size: 14px;
	padding: .7rem 1.4rem;
}
.pdf-button #Print_labels:hover {
	background-color: #2781e7;
	border: 2px solid #2781e7;
	border-radius: 1.4rem;
	color: #fff;
	font-family: inherit;
	font-size: 16px;
	padding: .7rem 1.4rem;
}
.pdf-button #Print_list {
	background-color: #07448a;
	border: 2px solid #07448a;
	border-radius: 1.4rem;
	color: #fff;
	font-family: inherit;
	font-size: 14px;
	padding: .7rem 1.4rem;
}
.pdf-button #Print_list:hover {
	background-color: #0f57a8;
	border: 2px solid #0f57a8;
	border-radius: 1.4rem;
	color: #fff;
	font-family: inherit;
	font-size: 16px;
	padding: .7rem 1.4rem;
}

table {
    position: relative;
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #bdc3c7;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2), -1px -1px 8px rgba(0, 0, 0, 0.2);
}

table i.bi-check-circle-fill {
	color: #2ecc71;
	visibility: visible;
    margin: 0 auto;
}

table i.bi-x-circle-fill {
	color: #e74c3c;
	visibility: visible;
}

table #table-button-del {
    display: inline-block;
    background-color: rgb(182, 46, 46);
    color: #ffffff;
    padding: .4rem .8rem;
    text-decoration: none;
    font-size: 14px;
    border-radius: 1.6rem;
    box-shadow: 0 3px 1rem rgba(0, 0, 0, 0.3);
    transition: background-color .5s ease;
}

table #table-button-del:hover{
    background-color: rgb(224, 73, 73);
    font-size: 16px;
}

table #table-button-update {
    display: inline-block;
    background-color: rgb(21, 124, 35);
    color: #ffffff;
    padding: .4rem .8rem;
    text-decoration: none;
    font-size: 14px;
    border-radius: 1.6rem;
    box-shadow: 0 3px 1rem rgba(0, 0, 0, 0.3);
    transition: background-color .5s ease;
}

table #table-button-update:hover{
    background-color: rgb(37, 165, 54);
    font-size: 16px;
}

.table-row {
    transition: all .2s ease-in;
    cursor: pointer;
}

th,
td {
    padding: 12px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

#head {
    background-color: #16a085;
    color: #fff;
}

h1 {
    font-weight: 600;
    text-align: center;
    background-color: #16a085;
    color: #fff;
    padding: 10px 0px;
}

.table-row:hover {
    background-color: #f5f5f5;
    transform: scale(1.02);
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2), -1px -1px 8px rgba(0, 0, 0, 0.2);
}
.table-row.checked:hover {
    background-color: #5ed668a6;
    transform: scale(1.02);
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2), -1px -1px 8px rgba(0, 0, 0, 0.2);
}

@media only screen and (max-width: 768px) {
    table {
        width: 90%;
    }
}

footer{
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    transition: background-color .5s ease;
    z-index: 1000;
}

.container-img {
    width: 100%;
    height: 25px;
}

.container-footer{
    width: 100%;
    padding-left: 50px;
    padding-right: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #c27115;
    box-shadow: 0 3px 1rem rgba(0,0,0,.3);
    border-bottom: 2px solid rgba(255,255,255,.05);
    transition: height .5s ease;
}

.container-social {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.socials {
    list-style: none;
    display: flex;
    align-items: center;
    vertical-align: center;
    transform: translateX(100rem);
    animation: slideIn .5s forwards;
}

.socials a {
    text-decoration: none;
    width: 40px;
    height: 40px;
    font-size: 30px;
    margin-top: 5px;
    margin-left: 1rem;
    margin-right: 1rem;
    color: #fff;
    vertical-align: center;
}

/* main page */
#left_block{
    display: inline-block;
	overflow: hidden;
    width: 360px;
    padding-left: 2rem;
    padding-top: 2rem;
}
#middle_block{
    background-color: #fff;
    display: inline-block;
	border-radius: 1rem;
	box-shadow: 0 3px 4rem rgba(0, 0, 0, 0.3);
	overflow: hidden;
	width: 1150px;
	max-width: 100%;
}
#right_block{
    display: inline-block;
    width: 360px;
    height: 40px;
    margin-left:25px;
}
#container-info{
    padding-left: 3rem;
    padding-top: 1rem;
    margin-bottom: 2rem;
}
.container-table {
    padding: 1rem;
	box-shadow: 0 3px 4rem rgba(0, 0, 0, 0.3);
	max-width: 100%;
}
.inline{
    display: inline-block;
    width: 45%;
}

#table_block{
    background-color: white;
    border: groove #f7a92a;
    color: black;
    padding: 2%;
    margin-top: 2%;
}
.tabulator{
    margin-left: 5ch;
}
#googleMap{
    margin-left: 5ch;
    width: 100%;
    height: 200px;
}

/* admin page  */
::selection{
    background: #6d50e2;
    color: #fff;
  }

.content{
    position: relative;
    display: flex;
    justify-content: space-between;
  }
  .content .list{
    display: flex;
	overflow: hidden;
    width: 360px;
    padding-left: 25px;
    padding-top: 25px;
    background-color: white;
    flex-direction: column;
    border-end-end-radius: 12px;
    border-top-right-radius: 12px;
    margin-right: 35px;
    margin-left: 25px;
    height: 100%;
    position: relative;
  }
  .content .list label{
    height: 60px;
    font-size: 18px;
    font-weight: 400;
    line-height: 60px;
    cursor: pointer;
    padding-left: 25px;
    transition: all 0.5s ease;
    color: #333;
    z-index: 12;
  }
  #reg:checked ~ .list label.reg,
  #sell:checked ~ .list label.sell,
  #event:checked ~ .list label.event,
  #rights:checked ~ .list label.rights{
    color: #fff;
  }
  .content .list label:hover{
    color: #6d50e2;
  }
  .content .slider{
    position: absolute;
    left: 0;
    top: 0;
    height: 60px;
    width: 100%;
    border-end-end-radius: 12px;
    border-top-right-radius: 12px;
    background: #6d50e2;
    transition: all 0.4s ease;
  }
  #reg:checked ~ .list .slider{
    top: 25px;
  }
  #sell:checked ~ .list .slider{
    top: 85px;
  }
  #event:checked ~ .list .slider{
    top: 145px;
  }
  #rights:checked ~ .list .slider{
    top: 205px;
  }
  .content .text-content{
    background-color: #fff;
    display: inline-block;
	border-radius: 1rem;
	box-shadow: 0 3px 4rem rgba(0, 0, 0, 0.3);
	overflow: hidden;
	width: 1150px;
  }
  .content .statistic-content{
    display: inline-block;
    width: 20;
    height: 40px;
    margin-left:330px;
  }
  .content .text{
    display: none;
  }
  .content .text .title{
    font-size: 25px;
    margin-bottom: 10px;
    font-weight: 500;
  }
  .content .text p{
    text-align: justify;
  }
  .content .text-content .reg{
    display: block;
  }
  #reg:checked ~ .text-content .reg,
  #sell:checked ~ .text-content .sell,
  #event:checked ~ .text-content .event,
  #rights:checked ~ .text-content .rights{
    display: block;
  }
  #sell:checked ~ .text-content .reg,
  #event:checked ~ .text-content .reg,
  #rights:checked ~ .text-content .reg{
    display: none;
  }
  .content .hide{
    display: none;
  }
  .pdf-button #bring_stuff {
	background-color: #1566c2;
	border: 2px solid #1566c2;
	border-radius: 1.4rem;
	color: #fff;
	font-family: inherit;
	font-size: 14px;
	padding: .7rem 1.4rem;
}
.pdf-button #bring_stuff:hover {
	background-color: #2781e7;
	border: 2px solid #2781e7;
	border-radius: 1.4rem;
	color: #fff;
	font-family: inherit;
	font-size: 16px;
	padding: .7rem 1.4rem;
}
.box {
    position: relative;
    display: flex;
    width: 100%;
    height: 50px;
    margin: 1rem;
}
.box .search-box {
    position: relative;
    height: 50px;
    max-width: 50px;
    overflow: hidden;
    margin: auto;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
    transition: all 0.3s ease;
}
#check:checked ~ .search-box {
    max-width: 380px;
}
#chick:checked ~ .search-box {
    max-width: 380px;
}
#chicck:checked ~ .search-box {
    max-width: 380px;
}
.search-box #search {
    position: relative;
    height: 100%;
    width: 380px;
    border-radius: 25px;
    background: #fff;
    outline: none;
    border: none;
    padding-left: 20px;
    font-size: 18px;
}
.search-box #search-sell {
    position: relative;
    height: 100%;
    width: 380px;
    border-radius: 25px;
    background: #fff;
    outline: none;
    border: none;
    padding-left: 20px;
    font-size: 18px;
}
.search-box #search-rights {
    position: relative;
    height: 100%;
    width: 380px;
    border-radius: 25px;
    background: #fff;
    outline: none;
    border: none;
    padding-left: 20px;
    font-size: 18px;
}
.search-box .icon {
    position: absolute;
    right: -2px;
    top: 0;
    width: 50px;
    background: #fff;
    height: 100%;
    text-align: center;
    line-height: 50px;
    color: #16a085;
    font-size: 20px;
    border-radius: 25px;
}
#check:checked ~ .search-box .icon {
    background: #16a085;
    color: #fff;
    width: 60px;
    border-radius: 0 25px 25px 0;
}
#check {
    display: none;
}
#chick:checked ~ .search-box .icon {
    background: #16a085;
    color: #fff;
    width: 60px;
    border-radius: 0 25px 25px 0;
}
#chick {
    display: none;
}
#chicck:checked ~ .search-box .icon {
    background: #16a085;
    color: #fff;
    width: 60px;
    border-radius: 0 25px 25px 0;
}
#chicck {
    display: none;
}